import clsx from 'clsx';
import React from 'react';
import styles from './{{pascalCase name}}.module.css';

export type {{pascalCase name}}Props = {
  // Component API
  /**
   * CSS class names that can be appended to the component.
   */
  className?: string;
  // Design API
  // Insert props/values as defined in figma for {{pascalCase name}}
};

/**
 * BETA: This component is still a work in progress and is subject to change.
 *
 * `import {{inBraces (pascalCase name)}} from "@chanzuckerberg/eds";`
 *
 * TODO: update this comment with a description of the component.
 */
export const {{pascalCase name}} = ({
  className,
  // Add other destructured props to reference
  ...other
}: {{pascalCase name}}Props) => {
  const componentClassName = clsx(styles['{{dashCase name}}'], className);

  return (
    <div
      className={componentClassName}
      // Other de-referenced props go here
      {...other}
    >
      Hello!
    </div>
  );
};
